<div>
    {{#each randomBeer}}
<li>
        <img src={{image_url}} />
        {{name}}
        {{description}}
        {{tagline}}
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
        {{brewer_tips}}
    </li>
    {{/each}}

</div>>